[tool.poetry]
name = "hashbox"
version = "0.4.0"
description = "Find Python objects by exact match on their attributes."
authors = ["Theo Walker <theo.ca.walker@gmail.com>"]
license = "MIT"
repository = "https://github.com/manimino/hashbox/"
documentation = "https://pypi.org/project/hashbox/"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
cykhash = "^2.0.0"
numpy = "^1.14"
sortednp = "^0.4.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
