[tool.poetry]
name = "dbox"
version = "0.0.1"
description = "Container for finding Python objects using database-like indexes."
authors = ["Theo Walker <theo.ca.walker@gmail.com>"]
license = "MIT"
repository = "https://github.com/manimino/dbox/"
documentation = "https://pypi.org/project/dbox/"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
cykhash = "^2.0.0"
numpy = "^1.14"
readerwriterlock = "^1.0.9"
sortednp = "^0.4.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
